/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} */

:root {
    --primary-color: #d6d8d6   ;
    --secondary-color: #306939 ;
    --accent1-color: black;
    --accent2-color: rgb(43, 124, 55);
  
    --heading-font: "Seymour One", sans-serif;
    --paragraph-font: "Merriweather", sans-serif;
  }
  

#menu {
    display: block;
    font-size: 2rem; 
    text-decoration: none;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

#menu::before {
    content:"☰";
    color:var(--primary-color);
}

#menu.show::before{ 
    content: "✗";
    color:var(--primary-color);
}

.menu-links {
    display: none;
}

.menu-links.show {
    display: flex;
    flex-direction: column;
    top: 6rem;
    right: 0.5rem;
    left: 0.5rem;
    position:absolute;
    background-color: var(--accent2-color);
} 

.menu-links a {
    text-decoration: none;
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: 1.3rem;
    padding: 0 1rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /*width: 100%;*/
}

.menu-links a:hover {
    background: var(--accent2-color);
    color: #DCE0D9;
} 

body {
    font-family: "Lora", serif; 
    background-color: var(--primary-color) ;
    margin: 0 20px;
}

header {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 30px var(--accent1-color);
    font-family: "Sedan SC", serif;
}

main {
    max-width: 1400px;
    padding: 20px;
    margin: 0 auto;
    font-family: var(--paragraph-font);
}

h1 {
    font-size: 2rem;
    font-family: var(--heading-font);
}

nav {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
    text-align: center;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    display: grid;
    grid-gap: 20px; 
} 

#home-image {
    text-align: center;
}
#home-imgage img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

#home-txt {
    text-align: center;
}



footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 20px;
    text-align: center; 
    /*box-shadow: 0 0 30px var(--accent1-color); */
}

@media (min-width: 600px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 740px) {
    .menu-links {
        display: none;
    }
}

@media (min-width: 740px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        flex-direction: row;
    }

    nav a {
        padding: 0 10px;
    }

    #menu {
        display: none;
    }

    .menu-links {
        display: flex; 
    }
        
    .menu-links a {
        font-size: 1.1rem;
    }
    
    #homepage-content {
        max-width: 1000px;
        margin: 0 auto;    
    }
}

