

body {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

header{
    padding: .5rem 2%;
    background-color: #ddd;
    margin: 0;
}

h1{
    text-align: center;
}
main {
    padding: 0 2%;
    min-height: 20rem;

}

.container{
    border: 1px black solid;
    border-top: 10px black solid;
    border-bottom: 10px black solid;
    border-radius: 10px;
    padding: .5rem 20%;
    margin: 2rem 0;
}

div{
    padding-top: 1rem;
    font-size: .9rem;
}





footer {
    background-color: #858383;
    padding: .5rem 2%;
    text-align: center; 
}


